@font-face { /*외부 폰트 지정*/
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg{ /*메인화면 사진 적용*/
    background-image: url(picture/pic1.jpg);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
    font-family: "NEXON Lv1 Gothic OTF"; /*웹사이트에 폰트 적용*/
} 
header { 
    width: 15%; 
    height: 10%;
    float: left; 
    text-align: center;
    background-color:azure;
}
section {
    width: 85%;
    height: 100%; 
    float: left; 
}
aside{
    width: 85%;
    height: 10%;
}
nav { 
    width: 15%; 
    height: 80%; 
    /* float: center; */
    background-color:azure;
}
footer{
    width: 15%; 
    height: 10%;
    clear: both; /*footer를 아래에 고정*/
    background-color:azure;
}
h1{
    color: skyblue;
}
a{
    color: blue;
    text-decoration: none;
}
ul{
    list-style: none; /*li의 점 제거*/
    margin: 0;
    padding: 0;
}
li{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
figure{
    margin: 0;
}